# 1. Ignore everything by default
*

#  Re-include gitignore, README, build script, and SDL2 DLLs
!.gitignore
!README.md
!build.bat
!SDL2.dll
!SDL2_image.dll

# Re-include assets and SDL2 directories and their contents
!assets/
!assets/**
!SDL2/
!SDL2/**

# Re-include include and src directories
!include/
!include/**
!src/
!src/**