// ignore everything but cpp and h files in include and src
# Ignore all files
*

# Except assets directory
!assets/

# Except the assets directory and its contents
!assets/**

# Except include and src directories and their contents
!include/
!src/

# Except .h and .cpp files in include and src directories
!include/**/*.h
!include/**/*.cpp
!src/**/*.h
!src/**/*.cpp

# Except the SDL2.dll file
!SDL2.dll
!SDL2_image.dll

# Except the SDL2 folder
!SDL2/
!SDL2_image/

# Except the include and src directories
!include/
!src/

# Except the README.md file
!README.md

# Except the .gitignore file itself
!.gitignore

# Except the build.bat file
!build.bat